# Python API for NYU's DataMart

This notebook showcases how to use the Python API for the NYU's DataMart system, which implements the common DataMart interface (https://gitlab.com/datadrivendiscovery/datamart-api/blob/master/datamart.py). To install it: `pip install datamart_nyu`

For the augmentation, we use the taxi demand example, available here: https://gitlab.datadrivendiscovery.org/d3m/datasets/tree/master/seed_datasets_data_augmentation/DA_ny_taxi_demand

In [1]:
from d3m import container
import datamart
import datamart_nyu
import datetime
from pathlib import Path

In [2]:
def print_results(results):
    if not results:
        return
    for result in results:
        print(result.score())
        print(result.get_json_metadata()['metadata']['name'])
        if (result.get_augment_hint()):
            left_columns = []
            for column_ in result.get_augment_hint().left_columns:
                left_columns.append([])
                for column in column_:
                    left_columns[-1].append((column.resource_id, column.column_index))
            print("Left Columns: %s" % str(left_columns))
            right_columns = []
            for column_ in result.get_augment_hint().right_columns:
                right_columns.append([])
                for column in column_:
                    right_columns[-1].append((column.resource_id, column.column_index))
            print("Right Columns: %s" % str(right_columns))
        else:
            print(result.id())
        print("-------------------")

Loading the taxi data, i.e., our supplied data.

In [3]:
# You can change this accordingly
ny_taxi_demand_file = str(Path.home()) + '/projects/d3m/datasets/seed_datasets_data_augmentation/' +\
                      'DA_ny_taxi_demand/DA_ny_taxi_demand_dataset/datasetDoc.json'
ny_taxi_demand = container.Dataset.load('file://' + ny_taxi_demand_file)

In [4]:
ny_taxi_demand['learningData'].head()

  d3mIndex tpep_pickup_datetime num_pickups
0        0  2018-04-19 22:00:00         731
1        1  2018-06-30 20:00:00         183
2        2  2018-06-02 10:00:00         384
3        3  2018-04-17 13:00:00         648
4        4  2018-01-04 01:00:00           3

## Searching for Datasets

Let's first instantiate our client:

In [5]:
client = datamart_nyu.RESTDatamart('https://datamart.d3m.vida-nyu.org')

### Search using keywords

In [6]:
query = datamart.DatamartQuery(
    keywords=['weather', 'new york'],  # keywords from problem definition
    variables=[]
)
cursor = client.search(query=query)

In [7]:
results = cursor.get_next_page()

In [8]:
print_results(results)

23.321064
Water Consumption In The New York City
datamart.socrata.data-cityofnewyork-us.ia2d-e54m
-------------------
19.698915
Local Law 50 New York State Food Purchasing FY15
datamart.socrata.data-cityofnewyork-us.2rd2-9uwy
-------------------
15.952759
Newyork Weather Data around Airport 2016-18
datamart.url.a3943fd7892d5d219012f889327c6661
-------------------
14.76213
SNAP Center Wait Time
datamart.socrata.data-cityofnewyork-us.gqk4-hny9
-------------------
14.197802
NYC Women's Resource Network Database
datamart.socrata.data-cityofnewyork-us.pqg4-dm6b
-------------------
12.2976055
NYC Weather Data 2010-2018
datamart.upload.a031bc4968cb4838967e4709e63a0ddc
-------------------
12.071367
New York City Council Discretionary Funding
datamart.socrata.data-cityofnewyork-us.4d7f-74pe
-------------------
11.9154415
NYC Hourly Weather Data 2010-2018
datamart.upload.469f627ada7349f285ad22d3028bc38d
-------------------
11.573822
Housing New York Units by Project
datamart.socrata.data-cityofnewyork-us.hq68-rnsi
-------------------
11.423144
Housing New York Units by Building
datamart.socrata.data-cityofnewyork-us.hg8x-zxpr
-------------------
11.313112
New York City Council Discretionary Funding (2013)
datamart.socrata.data-cityofnewyork-us.q2ni-ztsb
-------------------
11.24337
New York City Population By Neighborhood Tabulation Areas
datamart.socrata.data-cityofnewyork-us.swpk-hqdp
-------------------
11.100941
ny_lga_weather_16_17_18
datamart.url.ce55ccdfd9a653a082795b7bf7bd88e6
-------------------
11.06954
New York City Population By Community Districts
datamart.socrata.data-cityofnewyork-us.xi7c-iiu2
-------------------
10.845763
New York City Leading Causes of Death
datamart.socrata.data-cityofnewyork-us.jb7j-dtam
-------------------
10.578562
Directory Of New York City Police Pension Fund Contact Numbers
datamart.socrata.data-cityofnewyork-us.i447-i5u3
-------------------
10.545822
New York City Locations Providing Seasonal Flu Vaccinations
datamart.socrata.data-cityofnewyork-us.w9ei-idxz
-------------------
10.418842
New York City Seasonally Adjusted Employment
datamart.socrata.data-cityofnewyork-us.5hjv-bjbv
-------------------
10.3523655
NYC Independent Budget Office (IBO) Debt Service Since FY 2000
datamart.socrata.data-cityofnewyork-us.6ggx-itps
-------------------
10.123442
New York City Council Discretionary Funding (2009-2013)
datamart.socrata.data-cityofnewyork-us.m3fi-rt3k
-------------------

### Search using keywords and variables

In [9]:
query = datamart.DatamartQuery(
    keywords=['weather', 'new york'],
    variables=[
        datamart.TemporalVariable(start=datetime.datetime(2018,1,1), end=None)  # data after 2018-01-01
    ]
)
cursor = client.search(query=query)

In [10]:
results = cursor.get_next_page()

In [11]:
print_results(results)

19.476715
Newyork Weather Data around Airport 2016-18
datamart.url.a3943fd7892d5d219012f889327c6661
-------------------
18.521584
SNAP Center Wait Time
datamart.socrata.data-cityofnewyork-us.gqk4-hny9
-------------------
15.943768
NYC Weather Data 2010-2018
datamart.upload.a031bc4968cb4838967e4709e63a0ddc
-------------------
15.439399
NYC Hourly Weather Data 2010-2018
datamart.upload.469f627ada7349f285ad22d3028bc38d
-------------------
15.182599
Housing New York Units by Building
datamart.socrata.data-cityofnewyork-us.hg8x-zxpr
-------------------
15.097779
Housing New York Units by Project
datamart.socrata.data-cityofnewyork-us.hq68-rnsi
-------------------
14.747103
ny_lga_weather_16_17_18
datamart.url.ce55ccdfd9a653a082795b7bf7bd88e6
-------------------
12.675784
Low Income Housing Tax Credits Awarded by HPD: Project-Level (9% Awards)
datamart.socrata.data-cityofnewyork-us.frre-6z6q
-------------------
11.922746
DOHMH New York City Restaurant Inspection Results
datamart.socrata.data-cityofnewyork-us.43nn-pn8j
-------------------
11.620393
Low Income Housing Tax Credits Awarded by HPD: Project-Level (4% Awards)
datamart.socrata.data-cityofnewyork-us.p8i7-ix2s
-------------------
11.392786
Energy and Water Data Disclosure for Local Law 84 2014 (Data for Calendar Year 2013)
datamart.socrata.data-cityofnewyork-us.rgfe-8y2z
-------------------
10.717091
New York City Fleet Daily Service Report
datamart.socrata.data-cityofnewyork-us.5rzx-3686
-------------------
10.672111
2018 - 2019 School Locations
datamart.socrata.data-cityofnewyork-us.9ck8-hj3u
-------------------
9.822033
LinkNYC Usage Statistics
datamart.socrata.data-cityofnewyork-us.69wu-b929
-------------------
9.189339
TLC New Driver Application Status
datamart.socrata.data-cityofnewyork-us.dpec-ucu7
-------------------
9.067957
Use of ARRA Stimulus Funds
datamart.socrata.data-cityofnewyork-us.ivix-m77e
-------------------
8.738124
LinkNYC New Site Permit Applications
datamart.socrata.data-cityofnewyork-us.xp25-gxux
-------------------
8.569118
Traffic Volume Counts (2014-2018)
datamart.socrata.data-cityofnewyork-us.ertz-hr4r
-------------------
8.195038
Harbor Water Quality
datamart.socrata.data-cityofnewyork-us.5uug-f49n
-------------------
7.925061
Housing Maintenance Code Violations
datamart.socrata.data-cityofnewyork-us.wvxf-dwi5
-------------------

### Search using data

In [12]:
cursor = client.search_with_data(query=None, supplied_data=ny_taxi_demand)

In [13]:
results = cursor.get_next_page()

In [14]:
print_results(results)

1.0
Housing New York Units by Building
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 19)]]
-------------------
1.0
Recognized Shop Healthy Stores
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 1)]]
-------------------
1.0
Bureau of Fire Prevention - Certificates of Fitness
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 4)]]
-------------------
1.0
Contractor / Sub Contractor Change Order Report
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 10)]]
-------------------
1.0
Cash Assistance Youth Engagement
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 6)]]
-------------------
1.0
Appeals Closed In 2017
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 8)]]
-------------------
1.0
City Clerk eLobbyist Data
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 14)]]
-------------------
1.0
2005 - 2011 Graduation Outcomes - Borough - ELL
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 21)]]
-------------------
1.0
Street Construction Permits - Stipulations (Historical)
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
1.0
Low Income Housing Tax Credits Awarded by HPD: Project-Level (9% Awards)
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 13)]]
-------------------
1.0
Corporate Procurement Contract Awards
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
1.0
Parking Violations Issued - Fiscal Year 2017
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 23)]]
-------------------
1.0
Parking Violations Issued - Fiscal Year 2015
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 17)]]
-------------------
1.0
2014 NYC Open Data Plan
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 4)]]
-------------------
1.0
Charges
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 3)]]
-------------------
1.0
SCA Disqualified Firms
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
1.0
DEP - Cryptosporidium And Giardia Data Set
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 1)]]
-------------------
1.0
NYC Parks Events Listing â€“ Event Listing
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
1.0
Appeals Closed In 2016
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 8)]]
-------------------
1.0
FY17 BID Trends Report Data
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 46)]]
-------------------

### Search using data and keywords

In [15]:
query = datamart.DatamartQuery(
    keywords=['weather'],
    variables=[]
)
cursor = client.search_with_data(query=query, supplied_data=ny_taxi_demand)

In [16]:
results = cursor.get_next_page()

In [17]:
print_results(results)

1.0
Newyork Weather Data around Airport 2016-18
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
1.0
ny_lga_weather_16_17_18
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
1.0
Energy and Water Data Disclosure for Local Law 84 2014 (Data for Calendar Year 2013)
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------
0.7496448447369412
Harbor Water Quality
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
0.2787723914371843
NYC Weather Data 2010-2018
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
0.26797387168690484
NYC Hourly Weather Data 2010-2018
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------

### Search using data, keywords, and data columns

In [18]:
query = datamart.DatamartQuery(
    keywords=['weather'],
    variables=[]
)
cursor = client.search_with_data_columns(
    query=query,
    supplied_data=ny_taxi_demand,
    data_constraints=[
        datamart.TabularVariable(
            [datamart.DatasetColumn('learningData', 1)],  # date_time variable
            datamart.ColumnRelationship.CONTAINS
        )
    ]
)

In [19]:
results = cursor.get_next_page()

In [20]:
print_results(results)

1.0
Newyork Weather Data around Airport 2016-18
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
1.0
ny_lga_weather_16_17_18
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
1.0
Energy and Water Data Disclosure for Local Law 84 2014 (Data for Calendar Year 2013)
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 5)]]
-------------------
0.7496448447369412
Harbor Water Quality
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 2)]]
-------------------
0.2787723914371843
NYC Weather Data 2010-2018
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------
0.26797387168690484
NYC Hourly Weather Data 2010-2018
Left Columns: [[('learningData', 1)]]
Right Columns: [[('0', 0)]]
-------------------

## Downloading a dataset

Now let's materialize one of the weather datasets, in case the user wants to take a look at the data before augmenting it (or so that the user can augment the data him/herself).

In [21]:
ny_weather_data = results[0].download(supplied_data=None)

In [22]:
ny_weather_data['learningData'].head()

,DATE,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,2016-01-01 01:00:00,OVC:08 38,6.1,58.0,17,300,30.03
1,2016-01-01 02:00:00,OVC:08 38,6.1,56.0,16,320,30.03
2,2016-01-01 03:00:00,OVC:08 38,5.6,55.0,13,340,30.03
3,2016-01-01 04:00:00,OVC:08 36,5.6,55.0,13,300,30.03
4,2016-01-01 05:00:00,FEW:02 34 OVC:08 45,5.0,60.0,13,270,30.01

You can also give a dataset as input so that DataMart can try to return a dataset that joins well with it. Only portions of the DataMart dataset that join with the input data will be returned.

In [23]:
ny_weather_data = results[0].download(supplied_data=ny_taxi_demand)

In [24]:
ny_weather_data['learningData'].head()

,DATE,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,2018-04-19 22:00:00,FEW:02 42,5.0,53.0,16.0,310,29.97
1,2018-06-30 20:00:00,SCT:04 250,30.6,43.0,5.0,180,29.97
2,2018-06-02 10:00:00,FEW:02 40 FEW:02 150 SCT:04 200,28.3,61.0,6.0,070,29.7
3,2018-04-17 13:00:00,BKN:07 46 BKN:07 85,8.3,44.0,17.0,260,29.6
4,2018-01-04 01:00:00,OVC:08 32,-1.7,45.0,8.0,020,29.91

## Augmenting a dataset

 Let's try to do our augmentation for the first query result.

In [25]:
join_ = results[0].augment(supplied_data=ny_taxi_demand)

In [26]:
join_['learningData'].head()

,d3mIndex,tpep_pickup_datetime,num_pickups,HOURLYSKYCONDITIONS,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYStationPressure
0,0,2018-04-19 22:00:00,731,FEW:02 42,5.0,53.0,16.0,310,29.97
1,1,2018-06-30 20:00:00,183,SCT:04 250,30.6,43.0,5.0,180,29.97
2,2,2018-06-02 10:00:00,384,FEW:02 40 FEW:02 150 SCT:04 200,28.3,61.0,6.0,070,29.7
3,3,2018-04-17 13:00:00,648,BKN:07 46 BKN:07 85,8.3,44.0,17.0,260,29.6
4,4,2018-01-04 01:00:00,3,OVC:08 32,-1.7,45.0,8.0,020,29.91

We can also choose which columns from the DataMart dataset (i.e., the weather data) that we want in the augmentation process.

In [27]:
join_ = results[0].augment(
    supplied_data=ny_taxi_demand,
    augment_columns=[datamart.DatasetColumn('0', 3), datamart.DatasetColumn('0', 5)]
)

In [28]:
join_['learningData'].head()

,d3mIndex,tpep_pickup_datetime,num_pickups,HOURLYRelativeHumidity,HOURLYWindDirection
0,0,2018-04-19 22:00:00,731,53.0,310
1,1,2018-06-30 20:00:00,183,43.0,180
2,2,2018-06-02 10:00:00,384,61.0,070
3,3,2018-04-17 13:00:00,648,44.0,260
4,4,2018-01-04 01:00:00,3,45.0,020